# Rust
# ====
RA_LOG=info
RUST_BACKTRACE=full
RUST_LOG=info


# Application
# ===========

## Static Web Server
WEB_LISTEN_SOCKET=0.0.0.0:3000

## API Server
API_LISTEN_SOCKET=0.0.0.0:3001
SERVER_LOG=debug,server=trace,ref_server=trace

## DB
DATABASE_URL=postgresql:///demo?host=/run/postgresql
