# -*- mode: gitignore; -*-
# See :/.ignore for ignored checked-in files.

# Unix
.*


# Git
!.gitignore

# Direnv
!.envrc


# Rust
/target

# Project
!.config
!.ignore
!.*.example
!.*.toml
TODOs.org


# Emacs
!.dir-locals.el